@use './' as *;

@include resetter;

body {
  background: $page-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1rem solid $chess-border;
  display: flex;
  width: min-content;
  flex-direction: column;
  @include custom-shadow;
}

.row-1 {
  @include block-color($block-dark, $block-light);
}

.row-2 {
  @include block-color($block-light, $block-dark);
}

@include block-size($cell-default);

@include my-animation($cell-default);

@include media-query;
